* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


.grntab {
    height: 28px;
    background-color: #33B24B;
}

.topinfo {
    width: 985px;
    text-align: end;
    margin: auto;
    line-height: 28px;
}

.topinfo>a {
    color: white;
}

.logocon {
    background-color: #EDF1E9;
    height: 120px;
}

.logoholder {
    width: 985px;
    margin: auto;
    padding-top: 20px;
}

.india {
    width: 214px;
    text-align: end;
    color: #33B24B;
}

.searchbar {
    height: 37px;
    display: flex;
}

.searchbar>div {
    height: 37px;
}

.searchbar input {
    height: 23px;
    padding: 0 5px;
    margin-right: 5px;
    border: 1px solid rgb(206, 200, 200);
}

.parentnav {
    height: 28px;
    background-color: #EDF1E9;
    border-top: 1px solid rgb(217, 207, 207);
    border-bottom: 2px solid #93A9C3;
}

.navbar {
    width: 985px;
    margin: auto;
    height: 28px;
    display: flex;
    justify-content: space-evenly;

}

.navbar>div {
    height: 100%;

    border: 1px solid;

}

.ul {
    display: flex;
    text-transform: uppercase;
    list-style-type: none;

}

.ul div {
    height: 21px;
    border: 1px solid rgb(217, 207, 207);
    text-align: center;
    font-weight: bold;
    padding-top: 5px;

}

.ul div>a {
    color: grey;
}

.feedtop {
    width: 985px;
    margin: 5px auto 0;
    display: flex;
    gap: 10px;
    color: #B2C8E2;
}

.feed {

    width: 985px;
    margin: auto;
}

.widget {
    width: 658px;
    height: 59px;
    border: 1px dotted #B2C8E2;
    margin-top: 5px;
    display: flex;
}

.widgets {
    border-right: 1px dotted #B2C8E2;
    width: 124px;
    padding: 5px;
    display: flex;
    cursor: pointer;
}

#first {
    width: 48px;

}

#last {
    width: 48px;
    border: none;
}

.widgets img {
    height: 45px;
}

.heading {
    font-weight: bold;
    display: block;
    margin: 5px 0 0 5px;
    line-height: 18px;
}

.inner {
    margin: 5px;
    line-height: 18px;
}

.bold {
    display: block;
    font-weight: bold;
}

.head {
    font-size: 19px;
    font-weight: 700;
    margin-top: 18px;
}

.parsel {
    width: 658px;
    text-align: end;
}

#select {
    border: none;
    color: #028CC4;
}

.feed {
    display: flex;
}

#paroption {
    width: 288px;

    padding: 0 15px;
}

.option {

    background-color: #DFE7D8;
    border: 1px dotted grey;
    margin: 5px 0 20px;
}

#lastopt {
    border-top: none;
    background-color: white;
}

.option p {
    padding: 5px 15px;
    border-top: 1px dotted grey;

}

.opt {
    height: 25px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #028CC4;
    cursor: pointer;

}

.opt>img {
    height: 100%;
    margin-right: 10px;

    display: inline;

}

.topic {
    font-weight: bold;

}

hr {
    border-top: 1px dotted grey;
}


.mainfeed {
    height: 5375px;
    width: 618px;
    background-color: #EDF1E9;
    padding: 0 20px;
    cursor: pointer;
}

.mainfeed .post {
    width: 100%;
    padding-top: 20px;
}


.comment {
    display: flex;
    height: 30px;
    margin-top: -5px;
    padding: 10px 45px;
    background-color: #F6F7F9;
}

.proimg {
    width: 25px;
    margin-right: 15px;
}

#textarea {
    width: 475px;
    height: 12px;
    padding: 5px 10px;
}

#npage {
    background-color: #FFFFFF;
    height: 20px;
    margin: 20px 0;
    padding: 18px 0;
    text-align: center;
}

#more {
    font-size: 13px;
    font-weight: bold;
    color: #028CC4;
}

#foottop {
    padding: 48px 0 40px;
    text-align: center;
    margin-top: 50px;

}

#top {
    height: 15px;
    color: black;
    font-size: 12px;
    font-weight: bold;

    padding-bottom: 10px;
    display: block;

}

#foottop img {
    margin: 0 10px;
}

#footmid {
    background-color: #333;
    height: 122px;
    padding: 40px 0;

}

#social {
    text-align: center;

}

#social>img {
    margin: 0 10px;
}

#top2 {
    display: flex;
    width: fit-content;
    margin: 25px auto;
    gap: 20px;
}

#bottom {
    display: flex;
    width: fit-content;
    margin: auto;
    font-size: 12px;


}

.sep {
    padding: 0 10px;
}

#footbottom {
    background-color: #32B34C;
    height: 100px;
    padding-top: 25px;


}

#footbottom>div {
    width: 58%;
    display: flex;

    margin-left: 43%;
}

sub {
    font-size: 12px;
    margin-top: 8px;
}

#innerbtm {
    display: flex;
    margin-left: 300px;
}

#innerbtm img {
    position: relative;
    left: 10px;
    bottom: -1px;
}